@import "../../utils/misins";

.footer {
  padding-top: 104px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin: 0 auto;
  max-width: 1170px;
}

.ul {
  @include onMobile {
    display: none;
  }

  @include onDesktop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: flex-end;
    margin: 0 auto;
    max-width: 1170px;
  }
}

.ulM {
  @include onMobile {
    margin-top: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    // gap: 16px;
    justify-content: space-between;
    align-self: flex-end;
    margin: 40px auto 0 auto;
    max-width: 1170px;
    align-items: center;
    text-align: center;
  }
  @include onDesktop {
    display: none;
  }
}

.li {
  margin: 0;
  font-family: "Satoshi Variable", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ac4800;
  text-decoration: none;
  font-style: bold;
}

.icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s, filter 0.3s;

  &:hover,
  &:active {
    transform: scale(1.2);
    filter: brightness(0.7) sepia(1) hue-rotate(-10deg) saturate(3);
  }
}

.wrapQuestion {
  width: 554px;
}

.question {
  margin: 0;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  color: #2c2c2c;

  @include onMobile {
    font-size: 30px;
    line-height: 44px;
  }

  @include onDesktop {
    font-size: 40px;
    line-height: 61px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  margin: 24px 0 0 0;

  border-radius: 16px;
  border: 1px solid #ac4800;
  background-color: transparent;
  color: #ac4800;
  font-family: "Satoshi Variable", sans-serif;
  font-weight: 700;

  &:hover {
    background-color: #763304;
    border: 1px solid #763304;
    color: #fff;
  }

  @include onMobile {
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  @include onDesktop {
    width: 261px;
    height: 57px;
    font-size: 18px;
    line-height: 27px;
  }
}
