@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: "SpectralBridge";
  src: url("./fonts/SpectralBridge.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* // @font-face {
//   font-family: "SatoshiVariable";
//   src: url("./fonts/SatoshiVariable.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// } */
/* 
:root {
  padding: 0;
  margin: 0;
}

body {
  font-family: "SpectralBridge", sans-serif;
  background-color: #f6e6d3;
  padding: 0;
  margin: 0;
} */
