@import "tailwindcss";

@font-face {
  font-family: "Playfair";
  src: url("/font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "SatoshiVariable";
  src: url("/font/SatoshiVariable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

body {
  @apply m-0 p-0 text-gray-900;
  background-color: #f6e6d3;
}
