.me {
  padding: 55px 0 72px 0;
  margin: 0 auto;
  max-width: 1170px;
}

.title {
  margin: 0 0 35px 0;
  width: 100%;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 159px;
  line-height: 100%;
  color: #ac4800;
  align-items: center;
  text-align: center;
  cursor: default;
}

.wraperAbout {
  display: flex;
  justify-content: space-between;
}

.frontTitle {
  text-align: left;
  margin: 0 0 32px 0;
  width: 100%;
  font-family: Spectral Bridge;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 3%;
  color: #ac480099;
}

.frontTite {
  font-family: "Playfair Display", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 61px;
  color: #ac480099;
  margin: 0 0 32px 0;
}

.wrapperDes {
  display: flex;
  gap: 32px;
}

.photo {
  width: 261px;
  height: 360px;
  object-fit: cover;
}

.des {
  margin: 0;
  width: 261px;
  font-family: "Satoshi Variable", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #513d2e;
  cursor: default;
}

.button {
  display: flex; /* або block / inline-block */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ac4800;
  width: 100%;
  height: 57px;
  margin: 24px 0 0 0;
  background-color: transparent;
  border-radius: 16px;
  color: #ac4800;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  &:hover {
    background-color: #763304;
    border: 1px solid #763304;
    color: #fff;
  }
}

.buttonText {
  text-decoration: none;
  color: #ac4800;
  text-align: center;
  margin: 0;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #ac4800;
}

.me__star {
  margin-top: 136px;
  width: 261px;
  height: 261px;

  display: block;

  /* ключове! */
  transform-origin: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.star.spin {
  animation: spin 20s linear infinite;
}
