.me {
  margin: 80px 0 76px 0;
}

.me__title {
  width: 100%;
  font-family: Spectral Bridge;
  font-weight: 400;
  font-size: 159px;
  line-height: 100%;
  color: #ac4800;
  align-items: center;
  text-align: center;
  letter-spacing: 3px;
}
